*/.dart_tool
*/.flutter-plugins
*/.flutter-plugins-dependencies
*/.packages
*/.pub-cache
*/.pub
*/.metadata
*/.idea
*/.vscode
*/.git
*/.gitignore
*/.dockerignore
*/.env
*/.env.example
*/.DS_Store
*/.flutter
.git
design_system/widgetbook/build
website/build
main_app/build
